:root {
  --unit: 50px;
  --key-height: 50px;
  --gap: 2px;
  --key-bg: #d8d7d7;
  --key-border: #b0b0b0;
  --key-text: #333;
  --key-radius: 8px;
  --pressed-bg: #ff6a00;
  --pressed-text: #fff;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #333232;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
.selectors {
  display: flex;
  flex-direction: row;
}
.keyboard-container {
  display: inline-block;
  margin-top: 200px;
  padding: 15px 20px;
  background: linear-gradient(to top, #3c3c3c 0%, #615d5d 100%);
  border-radius: 12px;
  border-top: 0.125rem solid #787878;
  border-right: 0.25rem solid #787878;
  border-bottom: 0.475rem solid #b0b0b0;
  border-left: 0.25rem solid #787878;
}

.keyboard {
  display: flex;
  gap: var(--gap);
  align-items: flex-start;
}

.keyboard-main,
.keyboard-side,
.keyboard-num {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.keyboard-side {
  margin-left: calc(var(--gap) * 2);
}
.keyboard-num {
  margin-left: calc(var(--gap) * 3);
}

.row {
  display: flex;
  gap: var(--gap);
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--key-height);
  background-color: var(--key-bg);
  box-shadow: 0 0 4px black;
  border-top: 0.125rem solid #787878;
  border-right: 0.25rem solid #787878;
  border-bottom: 0.475rem solid #b0b0b0;
  border-left: 0.25rem solid #787878;
  border-radius: var(--key-radius);
  color: var(--key-text);
  font-size: 14px;
  user-select: none;
  transition:
    background-color 0.05s,
    transform 0.15s,
    color 0.25s;
  flex-shrink: 0;
  z-index: 1;
}

.key:hover {
  color: var(--key-text);
  background-color: pink;
  transition:
    transform 100ms linear,
    background-color 0.55s ease,
    color 0.25s;
  transform: translateY(2px);

  z-index: 0;
}

.key.pressed {
  background-color: var(--pressed-bg);
  color: var(--pressed-text);
  transform: translateY(2px);
  border-top: 0.125rem solid #e25e00;
  border-right: 0.25rem solid #e25e00;
  border-bottom: 0.475rem solid #f46703;
  border-left: 0.25rem solid #e25e00;
}

.key.half-height {
  height: calc((var(--key-height) - var(--gap)) / 2);
}

.key.tall {
  height: calc(var(--key-height) * 2 + var(--gap));
  margin-bottom: calc(-1 * (var(--key-height) + var(--gap)));
}

.arrow-center {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.arrow-center .key {
  width: 100%;
  flex: 1;
}
